REDIS_URL=redis://localhost:6379
# 账号过期时间七天
TOKEN_TTL=604800
# 后台接口模块允许的来源，填写后台地址
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3020,https://xxx.com

# 你的后台地址，用于邮件内站点链接
ADMIN_URL=https://xxx.com/admin
# 你的网站地址，用于重定向登录后跳转，以及邮件内站点链接
WEB_URL=http://localhost:3020
# Github OAuth2.0 配置
GITHUB_ID=你的client_id
GITHUB_SECRET=你的client_secret
# Google OAuth2.0 配置
GOOGLE_ID=你的client_id
GOOGLE_SECRET=你的client_secret
